[submodule "libffi"]
	path = libffi
	url = https://github.com/enyaxu/libffi.git
[submodule "readline"]
	path = readline
	url = https://github.com/enyaxu/readline.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/enyaxu/libuv.git
[submodule "node"]
	path = node
	url = https://github.com/joyent/node.git
